<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('partials/head') %>
</head>
<body>
  <header>
    <%- include('partials/header') %>
  </header>
    <main>
        <div class="informacion">
            <img src="" alt="">
            <h2>Últimas entradas del blog</h2>
            <p>Una mirada a los jeugos mas iconicos de Atari que definieron una era.</p>
            <a href="/francisco/web/views/index.ejs">videojuegos</a>
        </div>
        
        <div>
            <p>Atari fue una de las primeras empresas en pupularizar</p>
            <p>Space Invaders fue uno de los primeros juego en implementar</p>
        </div>

    </main>

    <footer>
      <%- include('partials/footer') %>
    </footer>
    
</body>
</html>
