    <ul class="headerPrincipal">
        <h1>RetroBlog</h1>
        <p>Un blog para amantes del retro</p>
    </ul>
<ul class="barraHeader">
    <li>
        <a href="/index.ejs">videojuegos</a>
        <a href="/index.ejs">ordenadores</a>
        <a href="/index.ejs">consolas</a>
    </li>
</ul>